<main class="main">
  <section class="filter-section">
    <div class="filter-container-header">
      <h2 class="filter-container-title">Exercises</h2>
      <ul class="filter-list list">
        <li class="filter-item">
          <button class="filter-btn bodyparts current" type="button">
            Body parts
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-btn muscles" type="button">Muscles</button>
        </li>
        <li class="filter-item">
          <button class="filter-btn equipment" type="button">Equipment</button>
        </li>
      </ul>
    </div>
    <div class="filter-container-category">
      <ul class="filter-category-list">
        <!-- разметка карточек -->

        <!-- <li class="filter-category-item">
              <img
                class="filter-category-img"
                src=""
                alt=""
                loading="lazy"
              />
              <div class="category-text"
              <h3 class="filter-category-title">Waist</h3>
              <p class="filter-category-descr">Body parts</p>
            </div>
            </li> -->
      </ul>
    </div>
  </section>
  <div id="tui-pagination-container" class="tui-pagination"></div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</main>
