<section class="filter-section-next">
  <div class="filter-container">
    <div class="ex-title-filter">
      <h2 class="exercises-title">Exercises</h2>
      <p class="current-exercises">Waist</p>
    </div>

    <div class="header-filters">
      <form class="search-form">
        <div class="search-exercises">
          <input type="text" class="search-input" placeholder="Search" />
          <div class="icon-position">
            <svg id="icon-search" width="18" height="18">
              <use href="./img/sprite.svg#icon-search-converted"></use>
            </svg>
            <svg id="icon-x" width="18" height="18">
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </div>
        </div>
      </form>
      <div class="filter-container-header">
        <ul class="filter-list-next list">
          <li class="filter-item-next">
            <button class="filter-btn bodyparts current" type="button">
              Body parts
            </button>
          </li>
          <li class="filter-item-next">
            <button class="filter-btn muscles" type="button">Muscles</button>
          </li>
          <li class="filter-item-next">
            <button class="filter-btn equipment" type="button">
              Equipment
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div id="tui-pagination-container" class="tui-pagination"></div> -->
  <div class="exercises-info-card">
    <!-- <ul class="exercises-back"></ul> -->
  </div>
</section>
