<footer class="footer">
  <div class="container footer_container">
    <div class="footer_links-mailing">
      <div class="footer_links">
        <a class="footer_logo">YOUR ENERGY</a>
        <ul class="soc-icons_list">
          <li class="soc-icons_item">
            <a class="soc-icons_link"
              ><svg width="24" height="18" class="soc-icons_logo">
                <use href="./img/sprite.svg#icon-facebook-white"></use>
              </svg>
            </a>
          </li>
          <li class="soc-icons_item">
            <a class="soc-icons_link">
              <svg width="24" height="24" class="soc-icons_logo">
                <use href="./img/sprite.svg#icon-instagram-white"></use></svg
            ></a>
          </li>
          <li class="soc-icons_item">
            <a class="soc-icons_link"
              ><svg width="24" height="24" class="soc-icons_logo">
                <use href="./img/sprite.svg#icon-youtube-white"></use></svg
            ></a>
          </li>
        </ul>
      </div>

      <div class="mailing">
        <h3 class="mailing_slogan">
          Transforming your <i>body</i> shape with us
        </h3>
        <div class="mailing_form_wrapper">
          <p class="mailing_label">Subscribe and learn about new exercises!</p>
          <form class="mailing_form">
            <input
              type="email"
              name="email"
              class="mailing_input"
              placeholder="Email"
              id="mailing-email"
              required
            />

            <button type="submit" class="mailing_button button">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="policy">
      <p class="policy_rights">Your Energy. All rights reserved.</p>
      <div class="policy_terms-year">
        <p class="policy_terms">
          Privacy Policy &nbsp;/&nbsp; Terms of Service
        </p>
        <p class="policy_year">©2023</p>
      </div>
    </div>
  </div>
</footer>
