<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      <img class="hero-icon" src="./img/the-sun.png" alt="sun" />
      Get <span class="hero-span">Body</span> in<br />
      shape, Stay healthy
    </h1>
    <div class="hero-small-image"></div>
    <p class="hero-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
    <span class="hero-image"></span>
    <ul class="hero-tags">
      <li class="hero-tags-item">#Sport</li>
      <li class="hero-tags-item">#Healthy</li>
      <li class="hero-tags-item">#Workout</li>
      <li class="hero-tags-item">#Diet</li>
    </ul>
  </div>
</section>
