        <section class="quote-sport-container">
          <div class="quote-photo-wrapper">
            <div class="quote">
                <svg class="quote-icon-running-man" width="34" height="32">
                  <use href="../img/sprite.svg#icon-running-man"></use>
                </svg>
                <svg class="quote-icon-inverted-commas" width="20" height="20">
                    <use href="../img/sprite.svg#icon-inverted-commas"></use>
                </svg>
                <div class="quote-title-markup">
                <h4 class="quote-title">Quote of the day</h4>
                  <div class="quote-markup">
                    <!-- <p class="quote-text">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>
                    <p class="quote-text-author">Tom Brady</p> -->
                  </div>
                </div>
            </div>
            <div class="quote-photo">
            </div>
          </div>

            <div class="quote-sport">
              <div class="quote-sport-item">
                <svg class="quote-sport-item-icon" width="20" height="20">
                    <use href="../img/sprite.svg#icon-dumbbell"></use>
                </svg>
              </div>
                <h4 class="quote-sport-title">110 min</h4>
                <p class="quote-sport-text">Daily norm of sports</p>
                <p class="quote-sport-description">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall quality of life.</p>
            </div>
        </section>