h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.filter-section {
    padding: 40 20px 0 20px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

.filter-container-header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.filter-container-title {
    color: #242424;
    font-family: Neue Montreal;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 135.714% */
    letter-spacing: -0.56px;
    margin-bottom: 20px;
}

.filter-list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 0;
    border: none;
    background: transparent;
    color: rgba(36, 36, 36, 0.6);
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.filter-category-list {
    display: flex;
    flex-direction: column;
}

.filter-category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 225px;
    position: relative;
    width: 335px;
    border-radius: 12px;
    overflow: hidden;
}

.filter-category-img {
    display: block;
    background: linear-gradient(0deg,
            rgba(17, 17, 17, 0.5) 0%,
            rgba(17, 17, 17, 0.5) 100%);
    border-radius: 12px;
    width: 100%;
}

.category-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.filter-category-title {
    color: #f4f4f4;
    text-align: center;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
}

.filter-category-descr {
    color: rgba(244, 244, 244, 0.4);
    font-family: Neue Montreal;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {
    .filter-section {
        padding: 64px 32px 0 32px;
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }

    .filter-container-title {
        color: #242424;
        font-family: Neue Montreal;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        /* 109.091% */
        letter-spacing: -0.88px;
        margin-bottom: 32px;
    }

    .filter-list {
        margin-bottom: 32px;
    }

    .filter-btn {
        padding: 0;
        border: none;
        background: transparent;
        color: #242424;
        font-family: Neue Montreal;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
    }

    .filter-category-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 15px;
    }

    .filter-category-item {
        width: calc((100% - (2 * 15px)) / 3);
    }
}

@media screen and (min-width: 1280px) {
    .filter-section {
        padding: 64px 32px 0 32px;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .filter-container-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .filter-container-title {
        color: #242424;
        font-family: Neue Montreal;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        /* 135.714% */
        letter-spacing: -0.56px;
        margin-bottom: 20px;
    }

    .filter-list {
        margin-bottom: 42px;
    }

    .filter-container-category {
        width: 100%;
        max-width: 1280px;
    }

    .filter-category-list {
        display: flex;
        max-width: 900px;
        margin-left: auto;
    }
}


.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #242424;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.current {
    width: 75px;
    color: #242424;
}

.active {
    color: #242424;
}