.filter-section-next {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    background-color: var(--white-text-color);
    margin-top: 40px;
}
.ex-title-filter {
    display: flex;
    align-items: baseline;
    padding-left: 32px;
    padding-right: 32px;
}
.current-exercises {
    color: #24242480;
    font-family: Neue Montreal, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.search-form {
    margin: auto;
}

.header-filters {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
}

.exercises-title {
    color: var(--backgroud-footer-text-color);
    font-family: Neue Montreal, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -.56px;
    margin-bottom: 20px;
}

.search-exercises {
    position: relative;
}

.search-input {
    display: block;
    width: 100%;
    height: 44px;
    margin: 0 auto;
    border: 1px solid var(--backgroud-footer-text-color);
    border-radius: 30px;
    font-size: 14px;
    line-height: 1.43;
    padding-left: 14px;
    color: var(--backgroud-footer-text-color);
    margin-bottom: 20px;
    font-family: 'Neue Montreal', sans-serif;
    background-color: var(--white-text-color);
}

.icon-position {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
}

#icon-x {
    stroke: var(--backgroud-footer-text-color);
    display: none;
}

.filter-list-next {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-btn.current {
    color: var(--backgroud-footer-text-color);
    border-bottom: 4px solid var(--backgroud-footer-text-color);
}

.filter-btn {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: #24242499;
    font-family: Neue Montreal, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.exercises-back {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.exCard {
    margin: auto;
    height: 141px;
    width: 335px;
    border-radius: 15px;
    background-color: white;
}

.high-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 16px;
    align-items: baseline;
}

.left-high-card {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.ex-rating {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
}

.workout-p {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0em;
}

.workout-symbol {
    width: 75px;
    height: 24px;
    border: 1px solid var(--backgroud-footer-text-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-star {
    fill: #EEA10C;
}

.filter-btn-ex {
    border: none;
    background-color: white;
}

.start-btn {
    color: var(--backgroud-footer-text-color);
    font-family: Neue Montreal, sans-serif;
    font-size: 16px;
    line-height: 2.38;
}
.open-modal-exercises {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    border: none;
    background-color: white;
}

#icon-arrow {
    stroke: var(--backgroud-footer-text-color);
    margin-left: 4px;
}

.exercise-name {
    display: flex;
    white-space: nowrap;
    gap: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    align-items: baseline;
}

.ex-name {
    font-size: 20px;
    line-height: 1;
    color: var(--backgroud-footer-text-color);
    font-family: 'Neue Montreal', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exercise-info {
    display: flex;
    gap: 10px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.ex-info-p {
    font-size: 12px;
    line-height: 1.5;
    color: var(--backgroud-footer-text-color);
    font-family: 'Neue Montreal', sans-serif;
    white-space: nowrap;
    color: #24242466;
}

.last-p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ex-info-back {
    font-size: 12px;
    line-height: 1.5;
    color: var(--backgroud-footer-text-color);
    font-family: 'Neue Montreal', sans-serif;
    white-space: nowrap;
}

@media screen and (min-width: 375px) {
    .search-input {
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .header-filters {
        flex-direction: row;
        align-items: baseline;
    }

    .search-input {
        width: 271px;
        height: 48px;
    }

    .search-form {
        margin: 0;
        margin-right: auto;
    }

    .exercises-back {
        gap: 32px 16px;
        max-width: 704px;
        margin: auto;
    }

    .exCard {
        max-width: 344px;
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    .exercises-back {
        margin: 0;
        margin-left: auto;
        max-width: 900px;
    }

    .search-form {
        margin-right: 0;
        margin-left: auto;
    }

    .header-filters {
        gap: 32px;
        margin-bottom: 32px;
    }
    .exCard {
        max-width: 442px;
        width: 442px;
    }
}