.exercises-info-card {
  margin-top: 20px;
}

.filter-section-next {
  width: 100%;
  /* padding: 0 15px;
  margin: 0 auto; */
  background-color: var(--white-text-color);
  /* margin-top: 40px; */
  padding-top: 40px;
}

.filter-container-next {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
.filter-section-next {
padding-top: 68px;
  } 

}

.ex-title-filter {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 20px;
  /* padding-left: 32px;
  padding-right: 32px; */
}

.current-exercises {
  color: #24242480;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

/* .search-form {
  margin: auto;
} */
 .search-form {
   margin-bottom: 20px;
   display: block;
 }

.header-filters {
  display: flex;
  flex-direction: column;

}

.exercises-title {
  color: var(--backgroud-footer-text-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.56px;
  
}

.search-exercises {
  position: relative;
  
}

.search-input {
  display: block;
  width: 100%;
  height: 44px;
  margin: 0 auto;
  border: 1px solid var(--backgroud-footer-text-color);
  border-radius: 30px;
  font-size: 14px;
  line-height: 1.43;
  padding-left: 14px;
  color: var(--backgroud-footer-text-color);
  background-color: var(--white-text-color);
}

.icon-position {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

#icon-x {
  stroke: var(--backgroud-footer-text-color);
  display: none;
}

.filter-list-next {
  display: flex;
  gap: 20px;
 
}

.filter-btn.current {
  color: var(--backgroud-footer-text-color);
  border-bottom: 4px solid var(--backgroud-footer-text-color);
}

.filter-btn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: #24242499;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.exercises-back {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.exCard {
  height: 141px;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  padding: 16px;
  font-size: 12px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exCard:hover,
.exCard:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .12),
    0px 1px 1px rgba(0, 0, 0, .14),
    0px 2px 1px rgba(0, 0, 0, .2);
}

.high-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-high-card {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
 
}

.ex-rating {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2px;
}

.workout-p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0em;
}

.workout-symbol {
  width: 75px;
  height: 24px;
  border: 1px solid var(--backgroud-footer-text-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

#icon-star {
  fill: #eea10c;
}

.filter-btn-ex {
  border: none;
  background-color: white;
}

.start-btn {
  color: var(--backgroud-footer-text-color);
  font-size: 16px;
  line-height: 2.38;
}

.open-modal-exercises {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: none;
  background-color: inherit;
  font-size: 14px;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-modal-exercises:hover,
.open-modal-exercises:focus {
  font-size: 16px;
} 

#icon-arrow {
  stroke: var(--backgroud-footer-text-color);
  margin-left: 4px;
}

.exercise-name {
  display: flex;
  white-space: nowrap;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 24px; 
}

.ex-name {
  font-size: 20px;
  line-height: 1;
  color: var(--backgroud-footer-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-info {
  display: flex;
  gap: 10px;
  
 
}

.ex-info-p {
  line-height: 1.5;
  color: var(--backgroud-footer-text-color);
  white-space: nowrap;
  color: #24242466;
  font-size: 12px;
}

.last-p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ex-info-back {
  font-size: 12px;
  line-height: 1.5;
  color: var(--backgroud-footer-text-color);
  white-space: nowrap;
}

@media screen and (min-width: 375px) {
  .search-input {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .header-filters {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .search-input {
    width: 271px;
    height: 48px;
  }

 .current-exercises {
font-size: 24px;
 }

  .exercises-back {
    gap: 32px 16px;
    max-width: 704px;
    margin: auto;
  }

  .exCard {
    width: 344px;
    margin: 0;
  }

    .ex-title-filter {
      margin-bottom: 32px;
    }

        .search-form {
          margin-bottom: 0;
        }

                .exercises-info-card {
                  margin-top: 32px;
                }

    .filter-btn {
      font-size: 16px;
    }
}

/* десктопна версія*/
@media screen and (min-width: 1440px) {
  .exercises-back {
    margin: 0;
    margin-left: auto;
    max-width: 900px;
  }

  /* .search-form {
    margin-right: 0;
    margin-left: auto;
  } */

  .header-filters {
    gap: 32px;
    margin-bottom: 0px



  }
    .exercises-info-card {
      margin-top: 0;
    }
  .exCard {
    max-width: 442px;
    width: 442px;
  }

  .head-filt {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

     .ex-title-filter {
      margin-bottom: 0;
     }
  /* .quote-sport-container {
    position: absolute;
    top: 109%;
  } */
}