.custom-button {
  background-color: #242424;
  color: #ffffff;
  outline: none;
}

.footer {
  background-color: rgba(36, 36, 36, 1);
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer_logo {
  fill: #f4f4f4;
}

.footer_logo_link {
  color: var(--white-text-color);
  margin-bottom: 20px;
  display: block;
}

.mailing_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mailing_slogan {
  color: var(--white-text-color);
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Neue Montreal', sans-serif;
  line-height: 48px;
  letter-spacing: -0.8px;
  font-style: normal;
  font-weight: normal;
}

.mailing_label {
  color: var(--white-text-color);
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Neue Montreal', sans-serif;
}

.mailing_input {
  color: #f4f4f4;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 42px;
  border-radius: 30px;
  padding-left: 14px;
  border: 1px solid var(--white-text-color);
  background-color: initial;
  font-family: 'Neue Montreal', sans-serif;
  outline: none;
}

.mailing_input:hover {
  border-color: var(--white-text-color);
  box-shadow: 0 0 15px rgba(244, 244, 244, 0.8);
}
.mailing_input:focus {
  border-color: var(--white-text-color);
  box-shadow: 0 0 15px rgba(244, 244, 244, 0.8);
}

.mailing_input::placeholder {
  color: var(--white-text-color);
  opacity: 0.6;
  font-size: 14px;
}

.mailing_button {
  height: 42px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--white-text-color);
  color: #242424;
  font-size: 14px;
  border: none;
  font-family: 'Neue Montreal', sans-serif;
  margin-bottom: 100px;
}

/* _______________________POLICY________________________ */

.policy {
  color: #c6cdd1;
  font-size: 14px;
  letter-spacing: -0.28px;
  opacity: 0.9;
  text-align: center;
  justify-content: space-between;
}

.policy_rights {
  margin-bottom: 10px;
  text-align: left;
}
.policy_terms-year {
  display: flex;
  justify-content: space-between;
}

.policy_text {
  color: #c6cdd1;
  font-family: 'Neue Montreal', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.policy_year {
  color: #c6cdd1;
  font-family: 'Neue Montreal', sans-serif;
}

/* __________________________________SOC_ICONS________________________________ */
.soc-icons_list {
  display: flex;
  margin-bottom: 40px;
  gap: 12px;
}

.soc-icons_item {
  background-color: transparent;
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.soc-icons_link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.soc-icons_logo {
  fill: #f4f4f4;
}
.soc-icons_item:hover .soc-icons_logo {
  fill: #242424;
}

.soc-icons_item:hover {
  background-color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .footer_links-mailing {
    display: flex;
    gap: 100px;
  }

  .footer_soc-icons_logo {
    height: 28px;
    width: 28px;
  }

  .mailing_form_wrapper {
    width: 350px;
  }

  .mailing_slogan {
    font-size: 54px;
    line-height: 1.07;
    letter-spacing: -1.12px;
  }

  .mailing_label {
    margin-top: 32px;
    font-size: 17px;
    line-height: 24px;
  }

  .mailing_input::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .mailing_button {
    font-size: 16px;
    line-height: 24px;
  }

  .policy {
    display: flex;
  }
  .policy_rights {
    margin-bottom: 0px;
  }

  .policy_terms-year {
    gap: 215px;
  }
}

@media screen and (min-width: 1440px) {
  .footer_links-mailing {
    display: flex;
    gap: 158px;
  }

  .mailing {
    display: flex;
    gap: 158px;
  }

  .mailing_label {
    margin-top: 0;
  }
  .mailing_form {
    width: 350px;
  }
  .mailing_button {
    margin-bottom: 54px;
  }
  .mailing_form_wrapper {
    flex-direction: column;
    width: 350px;
  }
  .policy {
    display: flex;
    position: relative;
  }

  .policy_rights {
    margin-bottom: 0;
  }

  .policy_terms-year {
    gap: 530px;
    position: absolute;
    top: 0;
    left: 310px;
  }
}

.container_test {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container_test {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 374px) {
  .container_test {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container_test {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container_test {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
