p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #f4f4f4;
}

/* Outline - рамка для відстеження кордонів, не впливає на розміри */
.h-container {
  width: 100%;
  /* max-width: 1158px; */
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  outline: 2px solid red;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-header {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
.list-menu {
  display: none;
}

.header-logo-swg {
  fill: #242424;
}

/* Soc Links */
/* SOCIAL */
.heder-social {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* padding-bottom: 0px; */
  /* margin: auto; */
  margin-left: 30px;
  align-items: center;
}

/* ! ???? */
.heder-soc-icon {
  border-radius: 10px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  fill: #242424;
  /* color: #242424; */

  background: #f4f4f4;
}

.heder-soc-svg:hover .heder-soc-icon,
.heder-soc-svg:hover .heder-soc-icon {
  background-color: #242424;
  fill: #f4f4f4;
}

.mob-button {
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin-left: 50px;
}

.menu-button {
  fill: #4d4131;
  /* color: #242424; */
  background-color: #f4f4f4;
  /* margin-left: 50px; */
}

.mob-button:hover .menu-button,
.mob-button:focus .menu-button {
  fill: #f4f4f4;
  stroke: #4d4131;
  background-color: #f4f4f4;
}

.list-menu {
  background-color: #242424;
  border-radius: 60px;
  width: 233px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-header-favorites {
  background-color: #242424;
  padding: 6px 12px;
  border-radius: 30px;
}

/* ! + */
.h-list-link {
  background-color: #f4f4f4;
  padding: 6px 12px;
  border-radius: 30px;
  color: #141414;
  text-align: center;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  transition: color 300ms linear;
}

.h-list-link-favorites {
  background-color: #141414;
  padding: 6px 12px;
  border-radius: 30px;
  color: #f4f4f4;
  text-align: center;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  transition: color 300ms linear;
}

.h-list-link:hover,
.h-list-link:focus {
  color: #f4f4f4;
  background-color: #141414;
}

.h-list-link-favorites:hover,
.h-list-link-favorites:focus {
  color: #141414;
  background-color: #f4f4f4;
}

.veggie-items {
  display: flex;
}

.header-mob-menu {
  display: none;
}

.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 16px 20px 16px 20px;
}

.logotype {
  display: flex;
}

/* @media screen and (min-width: 375px) {
  .h-container {
    max-width: 335px;
    padding-left: 0;
    padding-right: 0;
  }

  .list-menu {
    display: none;
  }

  .basket {
    display: none;
  }

  .mob-button {
    background-color: #830a0a;
    border: transparent;
    padding: 0;
    margin-left: auto;
  }

  

  .basket-button {
    display: none;
  }

  .mob-menu-basket {
    display: none;
  }

  .header-header {
    display: flex;
    width: 100%;
  }
} */

/* @media screen and (min-width: 768px) {
  .h-container {
    max-width: 704px;
  }

  .header-header {
    display: flex;
    width: 100%;
  }


  .basket-button-but {
    fill: #fff;
    stroke: #141414;
  }

  .nav-header {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1;
  }

} */

/* @media screen and (min-width: 1440px) {
  .h-container {
    max-width: 1376px;
  }

  .basket-button {
    display: flex;
    background-color: transparent;
    border: none;
    margin-left: auto;
  }

  .basket-button:hover,
  .basket-button:focus {
    fill: #77ac63;
  }

  .header-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .basket-button-but {
    fill: #fff;
    stroke: #141414;
  }

 
} */

/* * Мобільне меню **********************************************************************/

/* Mob Menu Section */

/* !!!!  MOB MENU HEADER */
/* ! */
.mob-mob-header {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #fff;
  z-index: 3;
  position: absolute;
}
/* ! */
.mob-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ! */
.mob-header-header {
  display: flex;
  align-items: center;
}
/* ! */
.mob-nav-header {
  display: flex;
  align-items: center;
  margin: 0;
}

/* ! */
.mob-text-header-logo {
  color: #141414;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29; /* 128.571% */
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/* ! */
.mob-close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

/* ! */
.mob-close-button-mob {
  border: none;
  /* background-color: transparent; */
  background-color: red;
  cursor: pointer;
  fill: #242424;
  stroke: #77ac63;
}

/* ! */
.mob-close-button:hover .mob-close-button-mob,
.mob-close-button:focus .mob-close-button-mob {
  color: #4d4131;
  fill: #4d4131;
  stroke: #4d4131;
  background-color: green;
}

/* !!!!  MOB MENU HEADER */

/* Мобільне віконце меню */
.mobil-menu {
  position: fixed;
  top: 0;
  z-index: 3;
  /* width: 100%; */
  /* height: 100%; */
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  z-index: 3;
  overflow: auto;
  transition: visibility 800ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
  /* align-content: space-between; */
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Блокує основну сторінку від скролу через JS */

.no-scroll {
  overflow: hidden;
}

.mobil {
  /* поставимо по центру */
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 280px;
  padding-bottom: 20px;
  /* 50px - уходить під хедер */
  overflow: auto;
  transform: translateY(0);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mob-menu.is-hidden .mobil {
  transform: translateY(-100%);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.mob-menu-item {
  margin-bottom: 16px;
}
.mob-menu-link {
  text-decoration: none;
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  cursor: pointer;
  transition: color 300ms linear;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: red;
}

/* @media screen and (min-width: 768px) {
  .mobil-menu {
    display: none;
  }
} */
