p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #f4f4f4;
}

/* Outline - рамка для відстеження кордонів, не впливає на розміри */
.h-container {
  width: 100%;
  /* max-width: 1158px; */
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  /* outline: 2px solid red; */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-header {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo-swg {
  fill: #242424;
}

/* Soc Links */
.heder-social {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* padding-bottom: 0px; */
  /* margin: auto; */
  margin-left: 80px;
  align-items: center;
}

.heder-soc-icon {
  border-radius: 10px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  fill: #242424;
  /* color: #242424; */

  background: #f4f4f4;
}

.heder-soc-svg:hover .heder-soc-icon,
.heder-soc-svg:hover .heder-soc-icon {
  background-color: #242424;
  fill: #f4f4f4;
}

.burger-social {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* padding-bottom: 0px; */
  margin: 0 auto;
  /* margin-left: 30px; */
  align-items: center;
}

.burger-soc-icon {
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  fill: #f4f4f4;
  /* stroke: #242424; */

  background: #242424;
}

.burger-soc-svg:hover .burger-soc-icon,
.burger-soc-svg:hover .burger-soc-icon {
  background-color: #f4f4f4;
  fill: #242424;
}

/* ! ************************** */

.mob-button {
  background-color: transparent;
  border: transparent;
  padding: 0;
  /* margin-left: 50px; */
}

.menu-button {
  fill: #4d4131;
  stroke: #141414;
  /* color: #242424; */
  background-color: #f4f4f4;
  transition: transform 300ms linear;
}

.mob-button:hover .menu-button,
.mob-button:focus .menu-button {
  background-color: #f4f4f4;
  transform: scale(1.3);
}

.list-menu {
  background-color: #242424;
  border-radius: 60px;
  width: 233px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-header-favorites {
  background-color: #242424;
  padding: 6px 12px;
  border-radius: 30px;
}

/* ! + */
.h-link-active {
  background-color: #f4f4f4;
  padding: 6px 12px;
  border-radius: 30px;
  color: #141414;
  text-align: center;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  transition: color 300ms linear;
}

.h-link-inactive {
  padding: 6px 12px;
  border-radius: 30px;
  color: #f4f4f4;
  text-align: center;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  transition: font-size 300ms linear;
}

.h-link-active:hover {
  /* color: #f4f4f4;
  background-color: #141414; */
  font-size: 20px;
}

.h-link-inactive:hover {
  /* color: #141414;
  background-color: #f4f4f4; */
  font-size: 20px;
}

/* * Мобільне меню **********************************************************************/

/*! Mob Menu Section */

.mob-mob-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #242424;
  z-index: 12;
  position: absolute;
}

.mob-header-container {
  display: flex;
  /* align-items: center; */
  justify-content: end;
}

.mob-header-header {
  display: flex;
  align-items: center;
}

.mob-nav-header {
  display: flex;
  align-items: center;
  margin: 0;
}

.mob-close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.mob-close-button-mob {
  border: none;
  /* background-color: #f4f4f4; */
  cursor: pointer;
  fill: #f4f4f4;
  stroke: #f4f4f4;
  transition: transform 300ms linear;
}

.mob-close-button:hover .mob-close-button-mob,
.mob-close-button:focus .mob-close-button-mob {
  transform: scale(1.3);
  transform: rotate(45deg);
}

/* !!!!  MOB MENU HEADER */

/* Мобільне віконце меню */
.mobil-menu {
  position: fixed;
  top: 0;
  z-index: 12;
  /* width: 100%; */
  /* height: 100%; */
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  z-index: 12;
  overflow: auto;
  transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*! Блокує основну сторінку від скролу через JS */

.no-scroll {
  overflow: hidden;
}

.mobil {
  /* поставимо по центру */
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 280px;
  padding-bottom: 20px;
  /* 50px - уходить під хедер */
  overflow: auto;
  transform: translateY(0);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mob-menu.is-hidden .mobil {
  transform: translateY(-100%);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.mob-menu-item {
  margin-bottom: 16px;
}
.mob-menu-link {
  text-decoration: none;
  color: #f4f4f4;
  font-family: 'NeueMontrealRegular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  cursor: pointer;
  transition: font-size 300ms linear;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  /* col+or: red; */
  font-size: 20px;
}

/* ! MEDIA */

.list-menu {
  display: none;
}

.heder-social {
  display: none;
}

@media screen and (min-width: 375px) {
  .h-container {
    max-width: 335px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .h-container {
    max-width: 704px;
  }

  .mobil-menu {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .list-menu {
    display: flex;
  }

  .heder-social {
    display: flex;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .h-container {
    max-width: 1376px;
  }
  .heder-social {
    margin-left: 400px;
  }

  .header {
    padding-top: 28px;
    padding-bottom: 0px;
  }
}
