.hero {
  padding-top: 84px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  max-width: 375px;
  margin: auto;
}

.hero-container {
}

.hero-title-container {
  width: 335px;
  height: 96px;
  margin-bottom: 20px;
}

.hero-title {
  font-family: Neue Montreal;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
}

.hero-text-container {
  width: 335px;
  height: 36px;
  margin-bottom: 16px;
}

.hero-text {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.hero-image-container {
  width: 335px;
  height: 450px;
  border-radius: 30px;
  overflow: hidden;
  background: -webkit-linear-gradient(211, 211, 211, 0.5),
    url(../src/img/women-sportswear-title_x1-min.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-image-container {
    background: linear-gradient(211, 211, 211, 0.5),
      url(../src/img/women-sportswear-title_x2-min.png);
  }
}

.hero-tags-container {
  margin-top: 11px;
  align-self: flex-start;
}

.hero-tags-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  list-style: none;
  margin-left: -50px;
}

.hero-tags-items {
  border: 1px solid #242424;
  border-radius: 30px;
  padding: 4px 16px;
}

@media screen and (min-width: 768px) {
  .hero {
  }

  .hero-title-container {
    width: 593px;
    color: #242424;
    font-family: Neue Montreal;
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.48px;
    height: 148px;
  }

  .hero-text-container {
  }

  .hero-image-container {
    width: 1160px;
    height: 773px;
  }

  .hero-tags-list {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
  }

  .hero-title-container {
  }

  .hero-text-container {
  }

  .hero-image-container {
  }

  .hero-tags-list {
  }
}
