#tui-pagination-container {

    .tui-page-btn {
        width: 12px;
        border: none;
        align-items: center;
        justify-content: center;
        color: #D4D4D4;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.8px;
        padding: 0;
    }

    @media screen and (min-width: 768px) {
        .tui-page-btn {
            font-size: 24px;
        }
    }

    .tui-page-btn:not(:last-child) {
        margin-right: 8px;
    }

    .tui-is-selected {
        display: inline-flex;
        border: 1px solid #242424;
        border-radius: 18px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6px;
        color: var(--backgroud-footer-text-color);
        background-color: inherit;
        width: 31px;
        height: 31px;
    }

    @media screen and (min-width: 768px) {
        .tui-is-selected {
            width: 32px;
            height: 32px;
        }
    }

    .tui-page-btn:hover {
        background-color: inherit;
    }

    .tui-ico-first,
    .tui-ico-prev,
    .tui-ico-next,
    .tui-ico-last {
        display: none;
    }

        .tui-first,
        .tui-next,
        .tui-prev,
        .tui-last {
            display: none;
        }

}