.quote-sport-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white-text-color);
}

.quote {
  position: relative;
  padding: 20px 20px 20px 72px;
  border-radius: 20px;
  background-color: var(--backgroud-footer-text-color);
  margin-bottom: 20px;
  height: 188px;
}

.quote-icon-running-man {
  position: absolute;
  top: 20px;
  left: 20px;
}

.quote-icon-inverted-commas {
  position: absolute;
  top: 20px;
  right: 20px;
}

.quote-title-markup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
  justify-content: space-between;
}

.quote-title {
  color: var(--white-text-color);
  font-family: 'Neue MontrealMedium';
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  /* margin-bottom: 6px; */
}

.quote-markup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quote-text {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  line-height: 1.29;
  /* margin-bottom: 16px; */
}

.quote-text-author {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.29;
}

.quote-photo {
  background-color: #fff;
  background-image: url(../img/women-sportswear-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 335px;
  height: 242px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .quote-photo {
    background-image: url(../img/women-sportswear-mob-2x.jpg);
  }
}

.quote-sport {
  position: relative;
  padding: 20px 20px 20px 70px;
  border-radius: 20px;
  background: #fff;
  height: 203px;
}

.quote-sport-item {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-color: var(--backgroud-footer-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-sport-title {
  color: var(--backgroud-footer-text-color);
  font-family: 'Neue MontrealMedium';
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}

.quote-sport-text {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 16px;
}

.quote-sport-description {
  color: var(--backgroud-footer-text-color);
  font-size: 14px;
  line-height: 1.29;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 375px) {
  .quote-sport-container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */
  }
}

@media screen and (max-width: 374px) {
  .quote-sport-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .quote-sport-container {
    max-width: 768px;
    padding: 64px 32px 100px 32px;
  }

  .quote {
    width: 400px;
    padding: 40px 40px 40px 90px;
    margin-bottom: unset;
    height: 249px;
  }

  .quote-icon-running-man {
    top: 40px;
    left: 40px;
  }

  .quote-icon-inverted-commas {
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
  }

  .quote-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-markup {
    gap: 18px;
  }

  .quote-text-author {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-photo-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }

  .quote-photo {
    width: 288px;
    height: 249px;
    margin-bottom: unset;
    background-image: url(../img/women-sportswear-tablet.jpg);
  }

  @media screen and (min-width: 1440px) {
    .section-catalog {
      display: flex;
      padding: 0;
    }
    .quote-sport-container {
      padding: 0;
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-photo {
      background-image: url(../img/women-sportswear-tablet-2x.jpg);
    }
  }

  .quote-sport {
    max-width: 400px;
    padding: 40px 40px 40px 90px;
    height: 249px;
  }

  .quote-sport-item {
    top: 41px;
    left: 40px;
  }

  .quote-sport-title {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1440px) {
  .quote {
    width: 444px;
    padding: 40px 40px 40px 90px;
    margin-bottom: 32px;
    height: 230px;
  }

  .quote-photo-wrapper {
    display: unset;
    margin-bottom: unset;
  }

  .quote-photo {
    width: 444px;
    height: 242px;
    margin-bottom: 32px;
    background-image: url(../img/women-sportswear-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-photo {
      background-image: url(../img/women-sportswear-desktop-2x.jpg);
    }
  }

  .quote-sport {
    max-width: 444px;
    height: unset;
  }

  .quote-sport-description {
    overflow: unset;
    display: unset;
  }
}
