/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./quote-of-the-day.css');
@import url('./header.css');
@import url('./favorite.css');
@import url('./filter-1.css');
@import url('./filter-2.css');
@import url('./filter-modal.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./pagination.css');
@import url('./scrollbutton.css');

:root {
  --background-color: #d0cece;
  --backgroud-footer-text-color: #242424;
  --white-text-color: #f4f4f4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'NeueMontrealRegular';
  src: url('../fonts/NeueMontreal-Regular.otf');
}

@font-face {
  font-family: 'NeueMontrealitalic';
  src: url('../fonts/NeueMontreal-Italic.otf.otf');
}
