/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./quote-of-the-day.css');
@import url('./header.css');
@import url('./favorite.css');
@import url('./filter-1.css');
@import url('./filter-2.css');
@import url('./filter-modal.css');
@import url('./footer.css');
@import url('./hero.css');

:root {
  --background-color: #D0CECE;
  --backgroud-footer-text-color: #242424;
  --white-text-color: #F4F4F4;
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;}

 
    